# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

.idea/**

2900/.idea/2900.iml
2900/.idea/modules.xml
2900/.idea/vcs.xml
2900/.idea/workspace.xml
